<main>
	<header class="page-header" data-parallax="scroll" data-image-src="{{ theme.link }}/images/default-background.jpg" data-speed="0.85">
		<div class="container">
			<h1>{{ page_title }}</h1>
		</div>
	</header>
	<div class="container">
		{{ post.content }}
	</div>
</main>