<main>
	<header class="page-header" data-parallax="scroll" data-image-src="{{ theme.link }}/images/default-background.jpg" data-speed="0.85">
		<div class="container">
			{% block header %}
				<h1>{{ page_title }}</h1>
				{% if post.subtitle %}
					<h2 class="subtitle">{{ post.subtitle }}</h2>
				{% endif %}
			{% endblock %}
		</div>
	</header>
	<div class="container">
		{% block content %}
			{{ post.content }}
		{% endblock %}
	</div>
</main>