body.home {

	.slider {
		margin-bottom: -1px;
	}

	section.content {
		padding: 4.5rem 0;

		> .container > :last-child {
			margin-bottom: 0;
		}

	}

	section.steps {
		background-color: $gray-900;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		color: white;
		padding: 1.5rem 0 0;
		margin: 0 0 1.5rem 0;

		@include media-breakpoint-up(md) {
			padding: 3rem 0 0;
			margin: 0 0 3rem 0;
		}

		.container {
			@include media-breakpoint-up(xl) {
				max-width: 1060px;
			}
		}

		h2.section-title {
			font-size: 2rem;
			line-height: 1.2;
			width: 18rem;
			margin: 0 auto;

			@include media-breakpoint-up(md) {
				width: auto;
				font-size: 3rem;
			}

			@include media-breakpoint-up(lg) {
				font-size: 4rem;
			}

			@include media-breakpoint-up(xl) {
				font-size: 4.5rem;
			}

		}

		div.section-content {
			position: relative;
			z-index: 1;
			bottom: -1.5rem;

			@include media-breakpoint-up(md) {
				bottom: -3rem;
			}

		}

		div.steps-images {

			.row {
				margin-left: -6px;
				margin-right: -6px;
			}

			.row > div {
				position: relative;
				display: flex;
				padding-right: 6px;
				padding-left: 6px;
			}

			a {
				display: flex;
				width: 100%;
			}

			img {
				max-width: 100%;
				margin: 0 auto;
				align-self: flex-end;
				user-select: none;
				user-drag: none;

				@include media-breakpoint-up(xl) {
					width: 85%;
				}
				
			}

		}

		div.steps-text {
			@include cyan-gradient();
			padding: 24px 18px 12px 18px;
			transition: all .25s ease-out;

			@include media-breakpoint-up(md) {
				padding: 22px 15px 18px;
			}

			&:hover {
				transform: scale(1.025);
				cursor: pointer;

				@include media-breakpoint-up(lg) {
					transform: scale(1.015);
				}

			}

			h5 {
				color: $gray-900;
				font-weight: 600;
				margin: 0 0 .25rem;

				@include media-breakpoint-up(md) {
					font-size: 1rem;
				}

				@include media-breakpoint-up(lg) {
					font-size: 1.25rem;
				}
				
			}

			h6 {
				font-size: 0.875rem;
				font-weight: normal;
				margin: 0 0 .5rem;
				line-break: 1.2;
				
				@include media-breakpoint-up(md) {
					margin: 0;
				}

				@include media-breakpoint-up(lg) {
					font-size: 1.25rem;
				}

			}

			@include media-breakpoint-down(md) {
				.row > div:not(:last-child):not(:nth-last-child(2)) {
					margin-bottom: 15px;
				}
			}

		}

	}

	section.upcoming-events {
		padding: 1.5rem 0;

		@include media-breakpoint-up(md) {
			padding: 3rem 0;
		}

		.card {
			margin-bottom: 2.5rem;
		}

	}

}