body.search {

	main {
		min-height: 600px;
	}

	.event-results {
		padding: 0 0 2.5rem;

		.event-card {
			margin-bottom: 2.5rem;
		}

	}

	.general-results {
		padding-bottom: 1.5rem;
		
		.card {
			margin-bottom: 2.5rem;
		
			.read-more {
				display: none;
			}

		}

	}

}