$header-height: 4rem;
$header-border-color: $gray-200;

.site-header {
	line-height: $header-height;
	background-color: white;
	overflow-y: hidden;

	@include media-breakpoint-up(lg) {
		height: $header-height;
	}

	> .container {
		
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}

	}

	.col-logo {
		border-right: 1px solid $header-border-color;
	}

	.site-logo {
		display: block;
		margin-right: .5rem;

		img {
			height: auto;
			width: auto;
			max-width: 100%;
			max-height: 2rem;
		}

	}

	// https://codepen.io/KendallWhitman/pen/EKrrLQ
	.nav-toggle {
		$animation-speed: .5s;
		position: absolute;
		top: 1.4rem;
		right: 1rem;
		display: inline-block;
		transition: transform $animation-speed;
		z-index: 100;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		&:hover {
			cursor: pointer;
		}

		> * {
			border-top: 4px solid $gray-900;
			border-radius: 2px;
			display: block;
			transition: margin $animation-speed, transform $animation-speed;
			width: 1.75rem;
		}

		:nth-child(2) {
			margin: 4px 0;
		}

		&.-toggled {
			padding: .45rem 0;
			transform: rotate(180deg);
			transition: transform $animation-speed;

			> * {
				border-color: $gray-900;
			}

			:nth-child(1) {
				transform: rotate(45deg);
			}

			:nth-child(2) {
				margin: -4px 0;
				opacity: 0;
			}

			:nth-child(3) {
				transform: rotate(-45deg);
			}

		}
		
	}

	.col-search {
		border-top: 1px solid #EEE;

		@include media-breakpoint-up(lg) {
			border: none;
		}

	}

	.site-search {
		position: relative;
		font-size: 0.875rem;

		.search-icon {
			position: absolute;
			line-height: $header-height;
			left: .5rem;
			z-index: 0;
		}

		.search-input {
			width: 100%;
			border: none;
			outline: none;
			margin: 0;
			padding: 0 1.5rem 0 2rem;
			position: relative;
			background: transparent;

			&::placeholder {
				text-transform: uppercase;
			}

		}

	}

	.col-menu {
		
		@include media-breakpoint-down(md) {
			padding-right: 0;
		}

	}

	.site-menu-wrapper {

		@include media-breakpoint-up(lg) {
			float: right;
		}

	}

	.site-menu {
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0;

		@include media-breakpoint-up(lg) {
			width: auto;
		}
		
		.menu-item {
			text-align: center;
			width: 50%;
			float: left;
			border-top: 1px solid $header-border-color;

			&:nth-child(odd) {
				border-right: 1px solid $header-border-color;
			}

			@include media-breakpoint-up(lg) {
				text-align: left;
				width: auto;
				border-top: none;
				border-right: 1px solid $header-border-color;
			}

			&:first-child {
				@include media-breakpoint-up(lg) {
					border-left: 1px solid $header-border-color;
				}
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				padding: 0 1.5rem;
				line-height: 1.2;
				height: 4rem;
				display: flex;
				text-transform: uppercase;
				color: $gray-900;
				font-size: 0.875rem;
				transition: background-color .25s ease-out;

				&:hover {
					background-color: $gray-100;
					text-decoration: none;
				}

				.fas {
					font-size: 1rem;
					position: relative;
					margin-right: 4px;
					bottom: -1px;
				}

			}

			&.bg-blue  {
				border-right: none;
				border-top-color: $cyan;
				
				a {
					@include cyan-gradient();
					color: white;
				}

			}

			&.mobile-menu-item {
				display: none;

				@include media-breakpoint-up(lg) {
					display: block !important;
				}

			}

		}

	}

}